
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Russo+One&display=swap');

:root { 
    --primary-color-text: #080D95;
    --primary-color-buttons: #EFEFEF;
    --primary-color-fun: #73D5FF;
    --primary-color-background: #f6f6f6;


}
* { 
    font-family: "Roboto", sans-serif;
}

body { 
    overflow-x: hidden;
}

body { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto" , sans-serif;
}

.container { 
    width: 100%;
    color: var(--primary-color-text)
    background-color: var(--primary-color-background)

}

.menu {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

 .page-menu {

    justify-self: end;
}



.hamburger {
    display: flex;
    flex-direction: column;
    width: 60px;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    border: 3px solid var(--primary-color-fun);
    border-radius: 10px;
    background-color: var(--primary-color-text);
    margin: 12px;
    justify-self: end;

 }

 .line {

    width: 38px;
    height: 4px;
    background-color: var(--primary-color-fun);
    border-radius: 10px;
    margin: 8px;
  }


.menu-panel { 
    position: absolute;
    right: -309px;
    top: 0;
    width: 309px;
    height: 568px;
    background-color: var(--primary-color-text);
    font-size: 32px;
    text-transform: uppercase;
    text-align: center;
    padding: 32px;
    box-sizing: border-box;
    transition: right 1s ease-in-out;

}

.menu-panel ul { 
    list-style: none;
    padding: 0;
}

.menu-panel ul li { 
    margin-bottom: 32px;

}

.menu-panel ul li a { 
    text-decoration: none;
    color: var(--primary-color-buttons);
}

.menu-panel.active { 
    right: 0;
}

.frame {
    width: 100%;
    text-align: center;
}

.frame img {
    display: inline-block;
    width: 296px;
    height: 165px;
    object-fit: cover;
    margin: 22px;
}

.frame {
    width: 100%;
    text-align: center;
}

.frame img {
    display: inline-block;
    width: 296px;
    height: 165px;
    object-fit: cover;
    margin: 22px;
}

.logo-span { 
    display: inline-block;
    margin: 25px;
    font-family: "Russo One", sans-serif;
    font-weight: 400;
    font-size: 28px;
    font-style: normal;
    color: var(--primary-color-text);
}

.profile { 
    text-align: center;
}

.profile-image img{ 
    display: inline-block;
    width: 195px;
    height: 195px;
    border-radius: 50%;
    object-fit: cover;
    margin: 25px;
}

hr {
    width: 130px;
    height: 12px;
    background-color: var(--primary-color-buttons);
    border-radius: 7px;
    border: none;
}

.headline h3 {
    font-family: "Russo One", sans-serif;
    font-size: 28px;
    text-align: center;
    color: var(--primary-color-text);
    margin: 0;


}

.frame {
    width: 100%;
    text-align: center;

}

.frame img { 
    display: inline-block;
    width: 260px;
    height: 147px;
    object-fit: cover;
    margin: 39px;
    
}

.my-clients { 
    width: 100%;
}

.card { 
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.card h4 { 
    color: var(--primary-color-text);
    font-family: "Russo One", sans-serif;
    font-size: 28px;
}

.card span { 
    display: inline-block;
    color: var(--primary-color-fun);
    background-color: var(--primary-color-buttons);
    padding: 4px;
    margin-bottom: 11px;
}

.card p { 
    margin: 15px;
    color: var(--primary-color-text);
}

.contact { 
    width: 100%;
    text-align: center;
    padding-top: 27px;
}

.contact button { 
    color: var(--primary-color-text);
    border: none;
    text-transform: uppercase;
    font-size: 28px;
    background-color: var(--primary-color-buttons);
    padding: 15px 21px;
    margin: 27px;
}

.social-media  {
    width: 100%;
    text-align: center;
    padding-top: 48px;
    color: var(--primary-color-text);
 }

 .social-media-icons ul { 
    list-style: none;
    padding: 0;
    color: var(--primary-color-text);

 }
 .social-media-icons ul li { 
    display: inline-block;
    margin: 10px;

 }

 footer  { 
    text-align: center;
    padding-top: 48px;
 }

 .menu-list { 
    display: none;

 }
 .profile-learn-more { 
    display: none;
 }

 .my-works-intro { 
    display: none;
 }

 .gallery { 
    display: none;
 }

 .contact-form { 
    display: none;
 }

 .contact-details { 
    display: none;
 }

 .contact-me-headline { 
    display: none;
 }

 .contact-intro { 
    display: none;
 }

 @media (min-width: 600px) and (max-width:1024px) { 

    .hamburger  {
        display: none;
    }


    .menu  {
        grid-template-columns: 1fr 2fr;
        align-items: center;
        box-sizing: border-box;
        padding-right: 24px;
    }

    .menu-list { 
        display: block;
    }


    .menu-list ul { 
        list-style: none;
        padding: 0;
        text-transform: uppercase;
        font-size: 24px;
        font-weight: 700;
        color: var(--primary-color-text);

    }

    .menu-list ul li {
        

        display: inline-block;
        margin-right: 8px;
    }
    .menu-list ul li a {
        display: inline-block;
        text-decoration: none;
        color: var(--primary-color-text-dark);
        font-weight: 700;
        font-size: 24px;
        transition: transform 0.5s ease-in-out, text-shadow 0.5s ease-in-out;
    }




    .profile  {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }

    .profile-image img { 
        
        
        width: 285px;
        height: 285px;
    }

    .profile-learn-more  {
        display: grid;
        align-items: center;
        justify-content: start;
        
    }

    .profile-details span  {
        display: block;
        width: 271px;
        font-size: 36px;
        text-align: start;
        margin-left: 24px;
        font-weight: 300;
        color: var(--primary-color-text);

    }

    .profile-details button { 
        display: block;
        background-color: var(--primary-color-buttons);
        color: var(--primary-color-text);
        font-size: 24px;
        width: 264px;
        padding: 14px 20px;
        border: none;
        margin-left: 24px;
        margin-top: 10px;
        border-radius: 10px;
        

    }

    .my-works .frame {
        display: none;

    }

    hr {
        margin-left: 32px;

    }

    .headline h3 { 
        padding-left: 32px;
        text-align: start;

    }

    .gallery { 
        display: grid;
        grid-template-columns:1fr 1fr ;
        grid-template-rows: repeat(3, auto);
        gap: 10px;
        margin-top: 32px;
      
    }

    .gallery-item { 
        text-align: center;


    }

    .gallery img { 
        width: 338px;
        height: 191px;
        object-fit: cover;
        

        
    }

    .my-clients { 

        margin-top: 48px;
    }

    .my-clients p {
        width: 605px;
        margin: 15px auto;
    }

    .card {
        margin-top: 48px;

    }

    .btn-contact { 
        display: none;
    }

    .contact-me-headline { 
        display: block;
    }

    .contact-intro { 
        display: block;
        width: 100%;

    }

    .contact-intro p {
        width: 517px;
        text-align: start;
        margin-left: 32px;
        color: var(--primary-color-text);
    }

    .contact-form { 
        display: block;
        width: 100%;
        font-size: 16px;
        color: var(--primary-color-text);
    }

    .contact-form form {
        text-align: start;
        box-sizing: border-box;
        padding: 32px;

    }

    input, textarea {
        width: 100%;
        background-color: var(--primary-color-buttons);
    }

    .input {
        height: 34px;

    }

    .contact-form button { 
        background-color: #080D95;
        color: var(--primary-color-background);
        text-transform: none;
        font-size: 16px;
        margin-left: 0;

    }

    .contact-details {
        display: block;
        width: 100%;

    }

    .contact-details ul { 
        list-style: none;
        padding: 0;
        text-align: start;
        margin-left: 32px;
        font-size: 20px;
        color: var(--primary-color-text);
    }

    .social-media-icons ul { 
        text-align: start;

    }

    .social-media-icons ul li { 
        margin-right: 12px;
    }

}

@media (min-width: 1025px) { 
    
    .hamburger  {
        display: none;
    }


    .menu  {
        grid-template-columns: 1fr 2fr;
        align-items: center;
    }

    .menu-list {
        display: block;
        box-sizing: border-box;
        padding: 16px;
    }


    .menu-list ul { 
        list-style: none;
        padding: 0;
        text-transform: uppercase;
        font-size: 36px;
        font-weight: 700;
        color: var(--primary-color-text);

    }

    .menu-list ul li {

        display: inline-block;
        margin-right: 14px;
    }

    .menu-list ul li a {
        display: inline-block;
        text-decoration: none;
        color: var(--primary-color-text-dark);
        font-weight: 700;
        font-size: 32px;
        transition: transform 0.5s ease-in-out, text-shadow 0.5s ease-in-out;
    }

    .menu-list ul li a:hover {
        transform: scale(1);
        text-shadow: 2px 3px 5px #080d9587;
    }
    

    .profile  {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }

    .profile-image img { 
        
        
        width: 603px;
        height: 603px;
    }

    .profile-learn-more  {
        display: grid;
        align-items: center;
        justify-content: center;
        
    }



    .profile-details span  {
        display: block;
        width: 271px;
        font-size: 36px;
        text-align: start;
        font-weight: 300;
        color: var(--primary-color-text);

    }

    .profile-details button { 
        display: block;
        background-color: var(--primary-color-buttons);
        color: var(--primary-color-text);
        font-size: 32px;
        width: 323px;
        height: 87px;
        padding: 14px 20px;
        border: none;
        margin-top: 10px;
        border-radius: 10px;
        transition: box-shadow 0.5s ease-in-out;
        

    }

    .profile-details button:hover {
        box-shadow: 4px 4px 4px var(--primary-color-text);
    }

    hr {
        width: 212px;
        height: 12px;
        margin-left: 32px;
        
    }

    .headline h3 { 
        
        font-size: 40px;
        text-align: start;
        margin-left: 32px;
        
    }

    .frame {
        display: none;
    }

    .btn-contact {
        display: none;
    }

    .gallery { 
    
        display: grid;
        grid-template-columns: repeat(3, 1fr) ;
        grid-template-rows: repeat(2, auto);
        gap: 10px;
        margin: 32px auto;
      
    }

    .gallery-item { 
        text-align: center;


    }

    .gallery img { 
        width: 420px;
        height: 237px;
        object-fit: cover;
    
        
    }

    .gallery-item img:hover {
        /*transform: scale(1.1);*/
        box-shadow: 10px 10px 10px #7b7b7b;
        transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    }

    .my-works-intro {
        width: 1004px;
        margin-left: 32px;
        color: var(--primary-color-text)
    }

   

    .card { 
        display: grid;
        grid-template-columns: 1fr 2fr;
        width: 95%;
        margin: 32px auto;
        border: 1px solid #080d95;
        padding: 32px;
        
    }
    
    .card h4 { 
        color: var(--primary-color-text);
        font-family: "Russo One", sans-serif;
        font-size: 28px;
        margin: 5px;
    }
    
    .card span { 
        display: inline-block;
        color: var(--primary-color-fun);
        background-color: var(--primary-color-buttons);
        padding: 4px;
        margin-bottom: 11px;
    }
    
    .card p { 
        margin: 0;
    }
    
    .card-image img { 
        width: 225px;
        height: 180px;
    }

    .card-text-content { 
        text-align: start;
        box-sizing: border-box;
        padding-right: 64px;
    }

    .role-description { 
        display: inline-block;
        margin: 24px 0;
        margin-right: 16px;
    }

    .get-in-touch { 
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(2, auto);
    }

    .contact-form { 
        display: block;
        width: 100%;
        font-size: 16px;
        color: var(--primary-color-text);
        grid-column: 1/2;
        grid-row: 1/3;
    }

    .contact-form form {
        text-align: start;
        box-sizing: border-box;
        padding: 32px;

    }

    input, textarea {
        width: 100%;
        background-color: var(--primary-color-buttons);
        border: none;
    }

    input:focus, textarea:focus {
        outline: none;
        box-sizing: border-box;
        border-top: 2px solid var(--primary-color-fun);
        border-left: 2px solid var(--primary-color-fun);
    }

    .input {
        height: 34px;
        margin-bottom: 24px;

    }

    .contact-form button { 
        background-color: #080D95;
        color: var(--primary-color-background);
        text-transform: none;
        font-size: 16px;
        margin-left: 0;

    }

    .social-media { 
        grid-column: 2/3;
        grid-row: 2/3;
        text-align: start;
        box-sizing: border-box
        padding: 32px;
    }

    .social-media h3 { 
        font-size: 40px;
        margin-left: 0;
    }

    .contact-details { 
        display: block;
        font-size: 18px;
        text-align: start;
        grid-row: 1/2;
        grid-column: 2/3;
        box-sizing: border-box
        padding: 32px;

    }

    .contact-intro { 
        display: block;
        width: 888px;
        text-align: start;
        margin-left: 32px;
        color: var(--primary-color-text);

    }

    .contact-details ul { 
        list-style: none;
        padding: 0;
        color: var(--primary-color-text);

    }

    .contact-details ul li { 
        margin-bottom: 24px;
    }
    .social-media-icons ul { 
      
        list-style: none;
        padding: 0;

    }

    .social-media-icons ul li { 
        display: inline-block;
        margin: 10px;
       
    }
}